ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

p {
  font-size: 20px;
  font-weight: 500;
  margin-right: 30px;
}

li > button {
  font-size: 15px;
  font-weight: 700;
  color: black;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 1px;
  transition-duration: 400ms;
  margin-left: 10px;
}

li > button:hover {
    background-color: blue;
    color: white;
}