.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  
  
 
}

.username {
  font-size: 18px;
  font-weight: 700;
  justify-content: center;

}

.logInUser {
  color: royalblue;
}
.btnLogin {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #c9c8f1;
  border: none;
  border-radius: 2px;
  color: black;
  flex-grow: 1;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 185px;
  padding: 0 16px 0 16px;
  cursor: pointer;
}

.btnLogin:hover {
  /* transform: scale(1.1); */
  background-color: blue;
  color: white;
  cursor: pointer;
}